/* app css stylesheet */

.iframe-container {
    position: relative;
    padding-bottom: 0;
    padding-top: 0px;
    height: 100%;
    overflow: hidden;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    display: block!important;
    opacity: 1;
}
.animate-show-hide.ng-hide {
    opacity: 0;
}
.view-animate {
    opacity: 1.0;
}
.view-animate.ng-enter {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block!important;
    opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
    opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
    opacity: 0;
}
.dimage-foot {
    font-size: 95%;
    color: black;
    line-height: 15px;
    padding-top: 5px;
    overflow: hidden;
    text-align: left;
    border-top: 4px solid rgba(0, 0, 0, 0.68);
    margin-bottom: 5px;
    opacity: 0;
}
.animated {
    -webkit-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
}
.thumbnail {
    margin-bottom: 0px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    background-color: #f0f0f0;
}
.thumbnail:hover {
    background-color: #428bca;
    font-weight: bold;
}
.click-panel {
    cursor: pointer;
}
.click-panel>h2 {
    -webkit-transition: all linear 3s;
    transition: all linear 3s;
    -moz-transition: all linear 3s;
}
.click-panel>h2:hover {
    font-weight: bold;
}
.jumbotron {
    background-image: -webkit-linear-gradient(top, #4C9CE2 60%, #D8D4D4 100%);
    background-image: linear-gradient(to bottom, #4C9CE2 60%, #D8D4D4 100%);
    background-image: -moz-linear-gradient(to bottom, #4C9CE2 60%, #D8D4D4 100%);
    color: snow;
}
.jheader {
    background-image: -webkit-linear-gradient(top, #4C9CE2 0%, #438BCA 100%);
    background-image: linear-gradient(to bottom, #4C9CE2 0%, #438BCA 100%);
    color: snow;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}
.jicon {
    width: 45px;
}
@media (max-width: 500px) {
    .jicon {
        display: none;
    }
}
.twitter-wgt {
    position: absolute;
    right: 0px;
    width: 300px;
    height: 250px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.278431) 1px 1px 10px;
    border-radius: 6px;
}
.page-content {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.28);
    padding-top: 20px;
    padding-bottom: 40px;
    min-height: 800px;
}