<div style="position:relative">
    <div ng-show="twShow" ng-mouseenter="inTwPanel()" ng-mouseleave="outTwPanel()" id="twitter" class="animate-show-hide twitter-wgt">
        <a class="twitter-timeline" href="https://twitter.com/LDP4j" data-widget-id="469077475268382721">Tweets by @LDP4j</a>
        <script>
            ! function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>
    </div>
</div>
<div class="jumbotron jheader">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h2>LDP4j Community</h2>
            </div>
            <div align="right" class="col-md-6 col-sm-6 col-xs-6">
                <img style="max-width:50px; margin-right:10px; padding-top:10px" src="img/github.png">
                <img style="max-width:50px; margin-right:10px; padding-top:10px" src="img/twitter.png">
                <img style="max-width:60px; margin-right:10px; padding-top:12px" src="img/groups.png">
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container" style="padding-top:20px">
        <p>{{texts.intro}}</p>
        <div class="row">
            <div class="col-md-4">
                <panel id="panel-it" sections="texts.it.sections" button="LDP4j Issues" url="https://github.com/ldp4j/ldp4j/issues" fixed></panel>
            </div>
            <div class="col-md-4">
                <panel id="panel-tw" sections="texts.tw.sections" button="LDP4j Twitter" url="https://twitter.com/LDP4j" fixed>
                </panel>
            </div>
            <div class="col-md-4">
                <panel id="panel-sr" sections="texts.sr.sections" button="LDP4j Repositories" url="https://github.com/ldp4j/ldp4j" fixed></panel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <panel id="panel-ml" sections="texts.ml.sections" inject="lists" padding="14em" fixed></panel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <panel id="panel-co" sections="texts.co.sections" inject="contact" padding="0em" fixed></panel>
            </div>
        </div>
    </div>
</div>
<div id="lists" style="display:none;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left:0px">
        <div class="table-responsive" style="margin-top:15px; position:absolute">
            <table class="table">
                <tr>
                    <th>List</th>
                    <th>Subscribe</th>
                    <th>Unsubscribe</th>
                    <th>Post</th>
                </tr>
                <tr ng-repeat="list in texts.ml.lists">
                    <td><a ng-href="{{list.group}}" target="_blank">{{list.name}}</a>
                    </td>
                    <td><a ng-href="mailto:{{list.subscribe}}">{{list.subscribe}}</a>
                    </td>
                    <td><a ng-href="mailto:{{list.unsubscribe}}">{{list.unsubscribe}}</a>
                    </td>
                    <td>
                        <a ng-href="mailto:{{list.post}}">{{list.post}}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div style="display:none" id="contact">
    <div align="center" class="col-md-12" style="margin-top:0.5em">
        <code class="prettyprint"><a style="font-size:20px" ng-href="mailto:{{texts.co.email}}">{{texts.co.email}}</a></code>
    </div>
</div>
