<div class="jumbotron" style="box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.28);">
    <div class="container">
        <h1>{{texts.jumbo.title}}</h1>
        <p style="color:rgb(231, 231, 231);">{{texts.jumbo.subtitle}}</p>
        <div class="row" align="center" style="margin-top:35px; position:relative; margin-bottom:30px">
            <a href="#learn/start">
                <button type="button" class="btn btn-success btn-lg" style="font-size:22px">{{texts.jumbo.button}}</button>
            </a>
            <div style="position:absolute; right:0">
                <a style="margin-right:15px" href="https://twitter.com/LDP4j" target="blank_">
                    <img class="jicon" src="img/twitter-logo.png">
                </a>
                <a style="margin-right:15px" href="https://www.github.com/ldp4j/ldp4j" target="blank_">
                    <img class="jicon" src="img/github.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container" style="min-height: 330px; margin-top:50px">
    <div class="row">
        <panel class="col-md-4 col-sm-4" id="panel-ldp" sections="texts.ldp.sections" button="{{texts.ldp.button}}" url="learn/ldp"></panel>
        <panel class="col-md-4 col-sm-4" id="panel-involved" sections="texts.involved.sections" button="{{texts.involved.button}}" url="community"></panel>
        <panel class="col-md-4 col-sm-4" id="panel-who" sections="texts.who.sections" button="{{texts.who.button}}" url="about"></panel>
    </div>

</div>
